<div class="row justify-content-center">
    <div class="col-6 mb-5">
        <hr />
        <h5 class="text-center">Completar Encuesta</h5>
        <hr />
        <h6 class="text-center">
            {{ nombreEncuesta }}
        </h6>
        <form [formGroup]="encuestaFrm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <app-input [inputConfig]="inputConfig"></app-input>
                </div>
                <div class="col">
                    <app-input [inputConfig]="inputConfigTwo"></app-input>
                </div>
            </div>
            <div class="row">
                <div class="col" formArrayName="preguntas">
                    <ng-template ngFor let-item [ngForOf]="preguntasFrm.controls" let-i="index">
                        <hr />
                        <div class="row" [formGroupName]="i">
                            <div class="col">
                                <h6>{{ encuestaBD.preguntas[i].descripcion }}</h6>
                            </div>
                            
                            <ng-template ngFor let-respuesta [ngForOf]="encuestaBD.preguntas[i].opciones" let-j="index">
                                <div class="form-check">
                                    <input class="form-check-input" (change)="onSelectChange($event, i)" [value]="respuesta" type="radio" [name]="i.toString()" [id]="respuesta + i.toString() + j.toString()">
                                    <label class="form-check-label" for="respuesta">
                                        {{ respuesta }}
                                    </label>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>